/*
* This configuration file is the default one used by the pipeline
*/

params {
	reads = "../data/*_R{1,2}*.fastq.gz"
	ref = "./genomes/Pf3D7_human.fa"
	refdir = "./genomes"
	outdir = "../results"
	refbed = "./genomes"
	rscript = "./run_quality_report.Rmd"
	trimadapter = "./adapters/TruSeq3-PE.fa"
}

conda {
    conda = './env.yml'
    enabled = true
}

/*
//	Process Config for Aragorn
process{
	executor = "local"
	queueSize = 1
}
*/


//	Wynton Specific Process Config
process {
	executor = "sge"
	scratch = true
	stageInMode = "copy"
	stageOutMode = "move"
	errorStrategy = "terminate"
	clusterOptions = '-S /bin/bash -o job.log -e job.err'
    withName: trimreads {
        conda = './envs/env.yml'
    }
    withName: fastqc {
        conda = './envs/env.yml'
    }
	withName: multiqc {
        conda = './envs/env.yml'
    }
    withName: bwa_align {
        conda = './envs/env.yml'
    }
    withName: pf_bam_stat_per_sample {
        conda = './envs/env.yml'
    }
    withName: hs_bam_stat_per_sample {
        conda = './envs/env.yml'
    }
	withName: run_report {
        conda = './envs/env_R.yml'
    }	

}
executor {
	queueSize = 1000
}
// 	end Wynton specific process config


// keep trace
trace {
	enabled = true
	file = "${params.outdir}/trace.txt"
    overwrite = true
}

// keep report
report {
	enabled = true
	file = "${params.outdir}/report.html"
    overwrite = true
}
