/*
 * -------------------------------------------------
 *    Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params {
    // Defaults only, expecting to be overwritten
    max_memory = 16.GB 
    max_cpus = 16
    max_time = 120.h 
    gatk_memory = 16
    max_threads = 8
}

process {
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    // Process-specific resource requirements (others leave at default)
 
    // QC 
    withName:trim_reads {
        cpus = { check_max(4 * task.attempt, 'cpus') }
    }
    withName:bwa_align {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        cpus = { check_max(8 * task.attempt, 'cpus') }
        time = { check_max(8.h * task.attempt, 'time') }    
    }
    withName:sam_convert {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    }    
    withName:sam_clean {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    } 
    withName:sam_sort {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max(2.h * task.attempt, 'time') }    
    } 
    withName:sam_duplicates {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max(4.h * task.attempt, 'time') }    
    } 
    withName:insert_sizes {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max(2.h * task.attempt, 'time') }    
    } 
    withName:pf_read_depth {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max(8.h * task.attempt, 'time') }    
    } 
    withName:run_report_and_calculate_ratio {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    } 

    // GVCF
    withName:g_variant_calling {
        cpus = { check_max(4 * task.attempt, 'cpus') }
    }
}